<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testBed" type="Flux.Core.ConfigHandler, Flux.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <log4net configSource="log4net.config" />
  <testBed>
    <environments>
      <environment name="QA">
        <urls>
          <url key="AppUrl" link="http://10.155.194.143/GenericHomePage.aspx" />
          <url key="CalltrackUrl" link="http://10.155.194.143/GenericHomePage.aspx" />
        </urls>
        <browsers>
          <browser name="FIREFOX" clearCookies="true" maximizeWindow="true">
            <waitTime smallWait="30" mediumWait="120" largeWait="300" />
            <timeOuts implicitlyWait="10" pageLoadTimeout="60" scriptTimeout="60" />
          </browser>
          <browser name="CHROME" clearCookies="true" maximizeWindow="true">
            <waitTime smallWait="30" mediumWait="120" largeWait="300" />
            <timeOuts implicitlyWait="10" pageLoadTimeout="60" scriptTimeout="60" />
          </browser>
          <browser name="IE" clearCookies="true" maximizeWindow="true">
            <waitTime smallWait="30" mediumWait="120" largeWait="300" />
            <timeOuts implicitlyWait="10" pageLoadTimeout="60" scriptTimeout="60" />
          </browser>
        </browsers>
        <credentials>
          <credential key="CareTendUser" username="Tenant3CA" password="KorbenDallas@Med1w4re" />
        </credentials>
      </environment>
    </environments>
  </testBed>
  <appSettings>
    <!-- QA, PROD, STAGING -->
    <add key="environment" value="QA" />
    <!-- CHROME, FIREFOX, IE -->
    <add key="browser" value="CHROME" />
    <!--Log File Path-->
    <!--<add key="logFolderPath" value="D:\Documents"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--ReportLoggingLevel for BDD Specflow : 
        1 = Extensive Logging for Every Step, along with Before-step activity and After-step activity
        2 = Medium Logging for Every Step with ONLY After-step activity (====Default====)
        3 = Low Logging (No Step details logged) -->
    <add key="ReportLoggingLevel" value="1" />

    <!--Setting this flag as true will log EACH and EVERY validation (successfull as well as unsuccessful) to the Extent Reports
        Default value of this flag is false-->
    <add key="DetailedValidationLoggingFlag" value="true" />

    <!--This flag will look upon the scenario if ApplicationData.json should be used by the application or not
        Default value of this application is set as FALSE-->
    <add key="ApplicationDataFlag" value="false" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="Flux.Core" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
</configuration>